.circle{
    border-radius: 13.5%;
}

.textnavbar{
    color:#ededed;
    transition: 500ms;
}

.textnavbar:hover{
    color:#636363;
}
.eightybox {
    margin: 2%;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

div.aboutbox{
    width: 85%;
    padding: 15px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

img.aboutbox {
    width: 100% !important;
    padding-bottom: 10px;
}

img.mainpagelogo{
    width: 70%;
}


@media (min-width: 700px) {
    .eightybox {
        margin: 3%;
    }
    .flex-container {
        flex-direction: row;
    }
    div.aboutbox {
        max-width: 320px;
        max-height: 520px;
        width: auto;
        padding: 12px;
        padding-bottom: 0px;
        margin-left: 0;
        margin-right: 0;
    }

    img.aboutbox {
        width: 240px !important;
        padding-bottom: 10px;
    }
    img.mainpagelogo {
        width: 20%;
    }
}

h1 {
    color: white !important;
}

h2 {
    color: white !important;
}

h3 {
    color: white !important;
}

h4 {
    color: white !important;
}

h5 {
    color: white !important;
}

h6 {
    color: white !important;
}

p {
    color: white !important;
}
body{
    background-color: #1d1e28;
}