.collapsible {
  background-color: #2f3237;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  width: 70%;
}

.active, .collapsible:hover {
  background-color: #2f3237;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #2f3237;
  position:relative; top:-3px;
  width: 70%;
  
}
.rotated-image {
    transition: 0.3s;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.normal-image{
      transition: 0.3s;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg)
}