body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.collapsible {
  background-color: #2f3237;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  width: 80%;
  text-shadow: 0.5px 0.5px 1px #000000;
  box-shadow: 1px 1px 2px #000000;
  
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #2f3237;
  position:relative; top:-12px;
  width: 80%; 
    background-color: #2a2d32;
  border-color: #2f3237; 
  border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    
  
}

@media (min-width: 700px) {
    .content{
        width: 60%;
    }
    .collapsible{
        width: 60%;
    }
}


.rotated-image {
    transition: 0.2s;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.normal-image{
      transition: 0.2s;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg)
}
