div.newsBox{
  width: 70%; 
  margin-left: 15%; 
  margin-right: 15%; 
  padding:5px; 
  background-color: #080e14; 
  border: 1px solid #202f40;
}
.homeHeadderImage{
  background-image: linear-gradient(to bottom, transparent 95%, #00060d), url('../content/img/FmkW20HWYAAB-sF.jpeg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
}
div.homeHeadderPadding{
  padding-top: 2vh; 
  padding-bottom: 14vh; 
}
h2.commingToText{
  font-size: 4.28vw;
  padding-top: 30px;
}

@media (min-width: 700px) {
  .homeHeadderImage{
    background-image: linear-gradient(to bottom, transparent 95%, #00060d), url('../content/img/FmkW20HWYAAB-sF.jpeg'); 
    background-size: 100%; 
    background-repeat: no-repeat; 
  }
  div.homeHeadderPadding{
    padding-top: 29.3vh; 
    padding-bottom: 31.746vh; 
  }
  h2.commingToText{
    font-size: 2.14vw;
    padding-top: 0px;
  }
}