h1{
    color:white !important;
}
h2{
    color:white !important;
}
h3{
    color:white !important;
}
h4{
    color:white !important;
}
h5{
    color:white !important;
}
h6{
    color:white !important;
}
p{
    color:white !important;
}
a.orangelink {
    color: #cc8500 !important; 
    text-decoration: underline !important;
    transition: 200ms;
}
a.orangelink:hover {
    color: orange !important;
    background-color: transparent !important;
    text-decoration: underline !important;
    transition: 200ms;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a.nohoverlink:hover{
    text-decoration: none !important;
}
a.nav-link:hover{
    text-decoration: none;
}
.squareorangebutton{
    color: #c75102;
    background-color: #c75102;
    padding-top: 8px;
    padding-bottom: 2px;
    width: 85%;
    border-radius: 2px;
    transition: 1000ms;
}

.squareorangebutton:hover{
    color: #b44901;
    background-color: #b44901;
    box-shadow: 10px 10px 5px black;
    transition: 1000ms;
}