.content {
  background-color: #2a2d32;
  border-color: #2f3237;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  max-width: 100%;
}
.hidebox{
  display: none;
}
.splitline1 {
    display: inline-block;
    border: .7px solid white;
    background-color: white;
    width: 50%;
    border-radius: 28px;
}
.meetingsheetbox{
  padding-left:10px; padding-bottom:60px; padding-right:10px;
}
@media (min-width: 700px) {
  .content {
    max-width: 50%;
  }
  .meetingsheetbox{
    padding-left:180px; padding-bottom:60px; padding-right:180px;
  }
}