body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 16px;
}
.botinvitebtn {
  background-color: #5865f2;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 21px;
  transition: 0.3s;
}

.botinvitebtn:hover {
    background-color : #4150f1;
    transform:scale(1.05,1.05);
    -webkit-transform:scale(1.05,1.05);
    -moz-transform:scale(1.05,1.05);
    border-radius: 24px;
}

.botinvitebtnwhite {
  background-color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  transition: 0.3s;
}

.botinvitebtnwhite:hover {
    background-color: #e3e3e3;
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    border-radius: 24px;
    position:relative; top:-0.5px; left:-0.5px;
}

.featurebox{
  background-color: black;
  border: 5px solid #AD91FF;
  margin: auto;  
  padding: 20px;
border-radius: 15px;
        height: 280 !important;
    width: 332 !important;
    max-height: 280 !important;
    max-width: 332 !important;
flex: 1;
    transition: 0.3s;
}
.featurebox:hover{
    background-color: #333333;
}


.featuretitle{
    
    font-size: 28px !important;
    font-weight: 600 !important;
    color: #AD91FF !important;
    
}

.featuredesc{
      text-align: left;
    font-size: 18px;
    font-weight: 600 !important;
    color: #c2c2c2 !important
        
}

.features {
    text-align: center !important;
    background: #AD91FF !important;
    padding: 60px 50px !important;
    background-image: url("../img/wavy-dark-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 200% !important;
    background-repeat: no-repeat !important;
}
.features2 {
    text-align: center !important;
    
    padding: 60px 50px !important;
}
.heading {
    padding: 160px 50px !important;
    color: #fff !important;
    background-image: url("../img/wavy-purple-by-nouridio.svg") !important;
    background-position: bottom !important;
    background-size: 300% !important;
    background-repeat: no-repeat !important;
}
.flex-container {
    display: flex;
  flex-direction: column;
}

br.mobilehide{
    display: none;
}

img.status{
    width: 60%;
}

@media (min-width: 700px) {
   .flex-container {
        flex-direction: row;
    } 
    br.mobilehide{
        display: initial;
    }
    img.status{
     width: 22%;   
    }
}



.title {
    font-size: 40px !important;
    line-height: 70px !important;
}

.subtitle {
    font-size: 20px !important;
    font-family: 'Lato', sans-serif;
}
.circle{
    border-radius: 100%; /* or 50% */

    background-color: black;
}