@font-face {
  font-family: Outage_Cut;
  src: url("../fonts/Outage_Cut.ttf");
}
.OutageFontCut{
  font-family: Outage_Cut;
}
@font-face {
  font-family: Outage;
  src: url("../fonts/Outage.ttf");
}
.OutageFont{
  font-family: Outage;
}
@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Medium.ttf");
}
.QuicksandFont{
  font-family: Quicksand;
}
.flexContainer {
  display: column;
  flex-direction: row;
  margin: auto;
}
.flex_FlexContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
}
div.headerImageBox{
  padding-right: 25%;
  padding-left: 5%;
  width: 100%;
}
div.headderBox{
  padding-top: 2vh;
}
.halfbox {
  width: 100% !important; 
  padding: 0%;
}
.halfbox2 {
  width: 49% !important; 
  padding: .5%;
}
.quarterbox {
  width: 25% !important; 
  padding: 0%;
}
div.centerItems{
  vertical-align: middle;
}
body{
  background-color: #00060d;
}
br{
  user-select: none;
}
.navBarItemPadding{
  margin-left: 1.15vw;
  margin-right: 1.15vw;
  margin-top: 15px;
  font-size: 2.2vw;
}
.navBarBuyButtonPadding{
  margin-left: 1.6vw;
  margin-right: 1.15vw;
  margin-top: 15px;
  font-size: 2.2vw;
}
a.navBarItemLink{
  color: white;
  text-decoration: underline solid transparent;
  transition: .4s ease;
  text-underline-position: under;
  text-decoration-thickness: .17vw;
  font-family: Quicksand;
}
a.navBarItemLink:hover{
  color: #008bc2;
  text-decoration: underline solid;
  text-decoration-thickness: .17vw;
  transition: .7s ease;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  width: 85%;
}
div.footerBox{
  background-image: linear-gradient(to top, #0c151f 90%, #00060d);
}
img.footerLogo{
  margin-top: 45px;
  margin-bottom: 45px;
}
h4.featureListText{
  color: white; 
  font-size: 2.9vw;
  margin: .3vw;
}
h2.featureText{
  color: white; 
  padding-top: 15px; 
  font-size: 3.8vw;
}
h1.featureTitleText{
  color: white; 
  padding-top: 25px; 
  font-size: 6vw;
}
ul.featureList{
  color: white; 
  font-size: 3vw;
}
.hideOnSmallScreenFlex{
  display: none;
}
.showOnSmallScreen{
  display: block;
}
.featureReorder1{
  order: 2; 
}
.featureReorder2{
  order: 1; 
}

@media (min-width: 700px) {
  .halfbox {
    width: 50% !important; 
    padding: 0%;
  }
  .flexContainer {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 70%;
  }
  h4.featureListText{
    color: white; 
    font-size: 1.4vw;
    margin: auto;
  }
  h2.featureText{
    color: white; 
    padding-top: 15px; 
    font-size: 2.1vw;
  }
  h1.featureTitleText{
    color: white; 
    padding-top: 25px; 
    font-size: 2.6vw;
  }
  ul.featureList{
    color: white; 
    font-size: 1.4vw; 
  }
  div.headerImageBox{
    padding-right: 25%;
    padding-left: 5%;
    width: 65%;
  }
  .hideOnSmallScreenFlex{
    display: flex;
  }
  .showOnSmallScreen{
    display: none;
  }
  .featureReorder1{
    order: 1; 
  }
  .featureReorder2{
    order: 2; 
  }
}







.hamburgerContainer {
  display: inline-block;
  cursor: pointer;
  float: right;
  padding-right: 5vw;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.toggleHamburger .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.toggleHamburger .bar2 {
  opacity: 0;
}

.toggleHamburger .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}