body{
    background-color: #1d1e28 !important;
    overflow-x: hidden;
}
h1{
    color:white !important;
}
h2{
    color:white !important;
}
h3{
    color:white !important;
}
h4{
    color:white !important;
}
h5{
    color:white !important;
}
h6{
    color:white !important;
}
p{
    color:white !important;
}

.lightboxContent{
    padding: 15px;
}