.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input,
label {
    margin: .4rem 0;
    color: white;
}

.twitch {
    padding: 10px;
    display: block;
    color: #f0f0ff;
    text-align: center;
    text-decoration: none;
    background-color: #9146ff;
  }